use_deposit{% extends "public.njk" %}

{% block content %}
<div id="form" class="row">
	<div class="col-sm-12">
		<h1>Thank You</h1>
	</div>
	<div class="col-md-9">
		<p class="lead">Your application has been submitted. You will receive a confirmation email.</p>
		<p><a href="index.html">Home</a></p>
	</div>
</div>
{% endblock %}
