.form-group {
	label span.note {
		font-weight:normal;
	}
}

// Directions for the form
.form-direction {
	font-weight:300;
	font-style:italic;
	font-size:18px;
	em {
		font-style:normal;
	}
}

// Form help text
.help-block {
	&:before {
		.fa-icon('\f059');
		color:@brand-success;
		margin-right:0.5em;
	}
	&:empty {
		display:none;
	}
}

@error-caret-size:8px;
@error-caret-color: @brand-danger;
.form-error-box {
	display:inline-block;
	margin-top:0.6em;
	padding:8px 10px;
	background-color:lighten(@brand-danger, 55%);
	border:1px solid @brand-danger;
	position:relative;
	transform:translateY(-0.4em);
	transition:transform 500ms ease-out;
	&:before {
		content:"";
		display:block;
		position:absolute;
		top:-@error-caret-size;
		border-style:solid;
		border-width:0 @error-caret-size @error-caret-size @error-caret-size;
		border-color:transparent transparent @error-caret-color transparent;
	}
}

// Standard form elements
.form-control,
.bootstrap-select .btn-default.dropdown-toggle {
	background-color:#f8f8f8;
	color:@gray-darker;
	padding:8px 10px; // BS values are 6px 18px... not right for form inputs
	height:auto; // BS sets this specifically. Not sure why...
	&:focus,
	&:active {
		background-color:#fff;
	}
}

.bootstrap-select .btn-default.dropdown-toggle {
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.form-control[size],
input[type="date"].form-control {
	width:auto;
}

// Mimics form label
.form-label {
	font-weight:700;
	margin:0 0 15px 0;
}

// Make selects HAWT
select.form-control:not([multiple]) {
  -webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAECAYAAABcDxXOAAAACXBIWXMAAAsSAAALEgHS3X78AAAAQUlEQVQI13XKMRGAMBAAwU0UIQEnUL2nTxUk4QQHoctQhGtvS2Z2HNbd2GtEnLj+QEQ8FRZwAihjjHlaax3bF8AL0xUWq2fTWocAAAAASUVORK5CYII=);
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4LjA0IDQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM5ODk4OTg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jYXJldDwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImEiIHBvaW50cz0iMCAwIDguMDQgMCA0LjAyIDQgMCAwIi8+PC9zdmc+);
	background-position:right 12px center;
	background-repeat:no-repeat;
	background-size:8px;
	padding-right:25px;
}

// Required
.form-required {
	color:@brand-danger;
	font-size:@font-size-large;
	margin-left:0.1em;
	line-height:1em;
}

// Form sections (i.e. steps)
.form-section,
.form-power-wrapper {
	background-color:#f2f2f2;
	padding:36px;
	margin-bottom:24px;
	@media only screen and (max-width:@screen-sm) {
		padding:10px 4px;
	}
}
.form-section-label {
	color:@brand-primary-dark;
	margin-bottom:36px;
	margin-top:0;
	font-weight:600;
	// text-align:Center;
	position:relative;
	&:after {
    content:"";
    position:absolute;
    bottom:-16px;
		left:0;
		// left:50%;
		// transform:translateX(-50%);
    display:block;
    width:140px;
    height:6px;
    background-color:lighten(@brand-primary, 10%);
  }
}
.form-section .form-actions,
.form-power-wrapper .form-actions {
	border-top:1px solid @line-color;
	padding:12px 0;
}
.form-section hr {
	border-color:lighten(@gray-light, 10%);
}
.fieldset-setoff {
	background-color:#fff;
	padding:12px;
	legend {
		position:relative;
		top:24px;
		border-bottom:0 none;
		font-size:20px;
	}
}

.form-power-wrapper {
	.form-direction {
		margin-top:12px;
	}
	.table {
		background-color:#fff;
	}
}

.form-sub-section {
	background-color:#fff;
	padding:15px;
	margin-bottom:10px;
}

.form-wizard-control {

}

// Checkbox/radios
.form-group fieldset {
	margin:0;
	padding:0;
}
.form-group legend {
	font-size:@font-size-base;
	color:@text-color;
	font-weight:700;
	margin:0 0 5px 0;
	padding:0;
	border:0;
	span.note {
		font-weight:normal;
	}
}

.form-radios-grid,
.form-checkboxes-grid {
	display:flex;
	flex-wrap:wrap;
	padding-top:8px;
	.radio,
	.checkbox {
		flex-grow:1;
		margin:0 0 10px 0;
	}
}

.form-repeating-section {
	margin-bottom:1em;
}

.form-flex {
	display:flex;
	align-items:center;
	.form-group + .form-group {
		margin-left:1em;
	}
}
.form-flex-grow {
	flex-grow:1;
}

@form-grid-line-color: #ddd;
.form-grid > .form-group {
	padding:0.75em;
	margin:0;
	border-bottom:1px solid @form-grid-line-color;
	background-color:#fff;
}

@media only screen and (min-width:@screen-sm) {
	.form-grid {
		display:flex;
		flex-wrap:wrap;
		clear:both;
		> .form-group {
			flex-grow: 1;
			// padding:0.75em;
			// border bottom from above
			border-right:1px solid @form-grid-line-color;
			// &.active {
			// 	background-color:#f2f2f2;
			// }
		}
		&:after {
			content:"";
			position:absolute;
			top:0;
			right:(15px + 36px);
			width:1px;
			height:100%;
			background-color:#f2f2f2;
		}
		.form-grid-col-1 {
			width:percentage(1/12);
		}
		.form-grid-col-2 {
			width:percentage(2/12);
		}
		.form-grid-col-3 {
			width:percentage(3/12);
		}
		.form-grid-col-4 {
			width:percentage(4/12);
		}
		.form-grid-col-5 {
			width:percentage(5/12);
		}
		.form-grid-col-6 {
			width:percentage(6/12);
		}
		.form-grid-col-7 {
			width:percentage(7/12);
		}
		.form-grid-col-8 {
			width:percentage(8/12);
		}
		.form-grid-col-9 {
			width:percentage(9/12);
		}
		.form-grid-col-10 {
			width:percentage(10/12);
		}
		.form-grid-col-11 {
			width:percentage(1112);
		}
		.form-grid-col-12 {
			width:percentage(12/12);
		}
	}
}

.power-header {
	padding:0.75em 0;
	margin-top:2em;
	margin-bottom:0;
	color:@brand-primary-dark;
	font-weight:600;
	border-bottom:3px solid lighten(@brand-primary, 10%);
	@media only screen and (max-width:@screen-sm) {
		margin-top:0.5em;
		padding:0.5em;
	}
}
