<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="widgets">
				<div class="col-sm-2 col-md-2">
					<div class="fwidget">
						<h6 class="bold">About Us</h6>
						<ul>
							<li><a href="/about/">Overview</a></li>
							<li><a href="/about/leadership/">Leadership</a></li>
							<li><a href="/about/resources-education.html">Resources and Education</a></li>
							<li><a href="/about/special-programs/partnerships.html">Academic Partnerships</a></li>
							<li><a href="/about/special-programs/internships.html">Internships</a></li>
							<li><a href="/about/special-programs/kaminstein.html">Kaminstein Program</a></li>
							<li><a href="/about/special-programs/ringer.html">Ringer Fellowship</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2 col-md-2">
					<div class="fwidget">
						<h6 class="bold">News</h6>
						<ul>
							<li><a href="fedreg/">Federal Register Notices</a></li>
							<li><a href="newsnet/">NewsNet</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2 col-md-2">
					<div class="fwidget">
						<h6 class="bold">Law and Guidance</h6>
						<ul>
							<li><a href="/title17/">Copyright Law</a></li>
							<li><a href="/title37/">Regulations</a></li>
							<li><a href="/rulemaking/">Rulemakings</a></li>
							<li><a href="/comp3/">Compendium</a></li>
							<li><a href="/forms/">Forms</a></li>
							<li><a href="/circs/">Circulars</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2 col-md-2">
					<div class="fwidget">
						<h6 class="bold">Publications</h6>
						<ul>
							<li><a href="/policy/">Policy Studies</a></li>
							<li><a href="/legislation/">Legislative Developments</a></li>
							<li><a href="/laws/hearings/">Congressional Hearings</a></li>
							<li><a href="/international-issues/">International Issues</a></li>
							<li><a href="/about/office-register/speeches.html">Register's Speeches</a></li>
						</ul>
					</div>
					<div class="fwidget">
						<h6 class="bold">
							<a href="/help/">Contact Us</a>
						</h6>
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="fwidget">
						<img src="/images/office-seal.png" alt="" border="0">
					</div>
					<div class="fwidget">
						<h6 class="bold">U.S. Copyright Office</h6>
						<address>
							101 Independence Ave. S.E.<br>
							Washington, D.C. 20559-6000<br>
							(202) 707–3000&nbsp;or&nbsp;1 (877) 476–0778 (toll free)
						</address>
					</div>
					<div class="fwidget">
						<p><a href="/cdn-cgi/l/email-protection#02616d727b756760426e6d612c656d74">Webmaster</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="copy">
			<p align="text-right">
				<a href="http://www.loc.gov/index.html">Library of Congress
				</a> | <a href="http://congress.gov/">Congress.gov</a> | <a href="http://www.usa.gov/">USA.gov</a> | <a href="http://www.copyright.gov/foia/">FOIA</a> | <a href="/about/legal.html">Legal</a> | <a href="about/privacy-policy.html">Privacy Policy</a>
			</p>
		</div>
	</div>
</footer>
