<!-- STYLESHEETS -->
<!-- Font awesome CSS -->
<link href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="{{bs_path}}css/bootstrap.min.css" rel="stylesheet">
{# <link href="{{bs_path}}css/bootstrap-theme.min.css" rel="stylesheet"> #}
<link href="/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/css/app.css" rel="stylesheet">

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]> <script src="/lib/html5shim.js"></script> <![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
