<!-- JS -->
<script src="lib/jquery-1.12.4.min.js"></script>
<script src="{{bs_path}}js/bootstrap.min.js"></script>
<script src="lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="js/global.js"></script>
