<!-- Social -->
<div class="social-links">
	<div class="container">
		<div class="row">
			<p class="text-right no-margin">
				<a href="https://public.govdelivery.com/accounts/USLOC/subscriber/new?">Subscribe</a>
				|
				<a href="https://twitter.com/CopyrightOffice">Twitter</a>
				|
				<a href="https://www.youtube.com/uscopyrightoffice">YouTube</a>
				|
				<a href="https://blogs.loc.gov/copyright/">Blog</a>
				|
				<a href="https://www.research.net/r/Copyrightweb">Take our Survey</a>
			</p>
		</div>
	</div>
</div>
